/*user interface colors*/
$darkest-purple: #230417;
$darker-purple: #691048;
$medium-purple: #b23882;
$pink: #ff76ca;
$light-pink: #f2a2d4;

/*piano key colors*/
$key-red: #ff7887;
$key-orange: #ffbb78;
$key-yellow: #fffe78;
$key-green: #b7ff78;
$key-blue: #78c2ff;
$key-indigo: #9578ff;
$key-violet: #e078ff;

/*width of an accidental key (aka black key on a piano) */
$accidental-width: .5em;

/*buttons*/
button {
  padding: .75em;
  background-color: $darker-purple;
  color: white; 
  font-size: 1em;
  border-radius: 1em;
  cursor: pointer;
  border: none; 
  box-shadow: 0 0.3em $medium-purple;
}

button:hover {
  background-color: white;
  color: $darker-purple;
}
button:active {
  transform: translate(0, 0.2em);
  box-shadow: 0 0.2em $darkest-purple
}
body {
  background-color: $medium-purple;
}


@media only screen and (max-width: 600px) {
  $accidental-width: .5em;
}